body {
  background-color: var(--gray-50);
  font-family: var(--font-family);
  color: var(--gray-800);
}

.container {
  width: 500px;
  margin: 0 auto 0;
}

button {
  font-family: var(--font-family);
  color: var(--gray-500);
  font-size: 15px;
  width: 60px;
}

button:hover {
  color: var(--gray-600);
}

h2 {
  font-size: 15px;
  font-weight: 700;
  color: var(--gray-800);
  text-transform: uppercase;
  border-bottom: 2px solid var(--gray-800);
  padding: 30px 0 10px;
}

input[type="checkbox"] {
  margin: 0 10px;
}