.task__label,
.task__input,
.add-task__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.add-task__group {
  display: flex;
}

.task {
  padding: 20px 0;
  border-bottom: 1px solid var(--gray-100);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__label {
  padding-left: 10px;
  box-sizing: border-box;
}

.add-task__input,
.task__input {
  font-family: var(--font-family);
  color: var(--gray-500);
  line-height: 18px;
  background: #fff;
  height: 21px;
  padding: 0 9px;
  border: 1px solid var(--gray-200);
  border-radius: 6px;
}

.add-task__input:focus,
.task__input:focus {
  color: var(--gray-800);
}

.task__input,
.task__label {
  width: 226px
}

.add-task__input,
.task__label,
.task__input {
  font-size: 18px;
}

/* new task */
.add-task__input {
  width: 318px;
}

.add-task__title {
  margin-bottom: 20px;
}

/* completed */
.completed__list .task__label {
  text-decoration: line-through;
  color: var(--gray-500);
}

.task__delete .task__delete__img {
  height: 2em;
  transform: rotatez(45deg);
  transition: transform 200ms ease-in;
}

.task__delete .task__delete__img:hover {
  transform: rotatez(0);
}

/* edit task */
ul li input[type=text],
ul li.edit-mode label {
  display: none;
}

ul li.edit-mode input[type=text] {
  display: inline-block;
  width: 224px;
}


